In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('./data/3rd_TravelInsurancePrediction_train.csv')
test = pd.read_csv('./data/3rd_TravelInsurancePrediction_test.csv')

In [3]:
train.shape, test.shape

((1501, 10), (486, 9))

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1501 non-null   int64
 1   Age                  1501 non-null   int64
 2   Employment Type      1501 non-null   object
 3   GraduateOrNot        1501 non-null   object
 4   AnnualIncome         1501 non-null   int64
 5   FamilyMembers        1501 non-null   int64
 6   ChronicDiseases      1501 non-null   int64
 7   FrequentFlyer        1501 non-null   object
 8   EverTravelledAbroad  1501 non-null   object
 9   TravelInsurance      1501 non-null   int64
dtypes: int64(6), object(4)
memory usage: 117.4+ KB

In [6]:
import pandas as pd
X_test = pd.read_csv("data/X_test.csv")
X_train = pd.read_csv("data/X_train.csv")
y_train = pd.read_csv("data/y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

print(X_train.shape, X_test.shape, y_train.shape)
print(X_train.info())
print(X_test.info())
print(y_train.info())

X_train.fillna(0)
X_test.fillna(0)

n_X_train = X_train.select_dtypes(exclude = 'object').copy()
c_X_train = X_train.select_dtypes(include = 'object').copy()
n_X_test = X_test.select_dtypes(exclude = 'object').copy()
c_X_test = X_test.select_dtypes(include = 'object').copy()

(8799, 11) (2200, 11) (8799, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8799 non-null   int64
 1   Warehouse_block      8799 non-null   object
 2   Mode_of_Shipment     8799 non-null   object
 3   Customer_care_calls  8799 non-null   int64
 4   Customer_rating      8799 non-null   int64
 5   Cost_of_the_Product  8799 non-null   int64
 6   Prior_purchases      8799 non-null   int64
 7   Product_importance   8799 non-null   object
 8   Gender               8799 non-null   object
 9   Discount_offered     8799 non-null   int64
 10  Weight_in_gms        8799 non-null   int64
dtypes: int64(7), object(4)
memory usage: 756.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2200 non-null   int64
 1   Warehouse_block      2200 non-null   object
 2   Mode_of_Shipment     2200 non-null   object
 3   Customer_care_calls  2200 non-null   int64
 4   Customer_rating      2200 non-null   int64
 5   Cost_of_the_Product  2200 non-null   int64
 6   Prior_purchases      2200 non-null   int64
 7   Product_importance   2200 non-null   object
 8   Gender               2200 non-null   object
 9   Discount_offered     2200 non-null   int64
 10  Weight_in_gms        2200 non-null   int64
dtypes: int64(7), object(4)
memory usage: 189.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8799 entries, 0 to 8798
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8799 non-null   int64
 1   Reached.on.Time_Y.N  8799 non-null   int64
dtypes: int64(2)
memory usage: 137.6 KB
None

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
n_X_train[n_X_train.columns[1:]] = scaler.fit_transform(n_X_train[n_X_train.columns[1:]])
n_X_test[n_X_test.columns[1:]] = scaler.transform(n_X_test[n_X_test.columns[1:]])

In [8]:
c_X_train = pd.get_dummies(c_X_train)
c_X_test = pd.get_dummies(c_X_test)

In [9]:
X_train = pd.concat([n_X_train, c_X_train], axis = 1)
X_train

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,1,-0.920381,0.713134,-1.587321,-0.371477,-0.460637,1.262293,0,1,0,0,0,0,0,1,1,0,0,1,0
1,2,-0.043832,0.004750,-0.773708,-0.371477,-0.521970,1.048832,0,0,0,0,1,0,0,1,0,0,1,0,1
2,3,-1.796930,-1.412018,-0.377332,-0.371477,1.992692,-0.250895,0,1,0,0,0,0,0,1,1,0,0,0,1
3,4,1.709265,1.421518,1.541960,0.286326,-0.337971,1.058006,0,0,0,0,1,0,0,1,0,0,1,0,1
4,5,-0.920381,-1.412018,0.749209,-0.371477,-0.215304,0.667171,0,0,0,0,1,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8794,8795,1.709265,1.421518,-0.669399,-0.371477,-0.521970,0.293461,0,0,1,0,0,0,0,1,0,1,0,1,0
8795,8796,-0.920381,-1.412018,-0.085266,-1.029279,2.606025,-0.946326,0,0,0,0,1,0,0,1,0,0,1,1,0
8796,8797,-0.043832,-1.412018,-1.566459,4.233143,1.318027,-0.995257,0,0,0,1,0,0,0,1,0,0,1,0,1
8797,8798,-0.043832,0.713134,0.853518,-1.029279,-0.460637,0.464719,0,1,0,0,0,0,0,1,0,0,1,1,0
8798,8799,1.709265,0.713134,-1.378702,0.286326,-0.521970,0.620686,1,0,0,0,0,1,0,0,0,1,0,1,0

In [10]:
X_test = pd.concat([n_X_test, c_X_test], axis = 1)
X_test

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,8800,0.832716,1.421518,0.832657,-1.029279,-0.215304,1.136907,0,0,1,0,0,0,0,1,0,0,1,0,1
1,8801,0.832716,-0.703634,-0.168714,-0.371477,1.256694,0.164406,0,0,0,0,1,0,1,0,0,0,1,0,1
2,8802,0.832716,0.713134,-1.170084,-1.029279,-0.521970,1.169324,0,0,0,0,1,0,0,1,0,1,0,1,0
3,8803,1.709265,0.713134,-0.022680,0.944129,2.422025,-0.273526,1,0,0,0,0,0,0,1,0,1,0,1,0
4,8804,1.709265,-1.412018,0.832657,0.286326,-0.583304,-1.589156,0,0,0,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,10995,-0.043832,0.004750,-1.649907,0.944129,-0.460637,-1.197097,0,0,0,0,1,0,0,1,0,1,0,0,1
2196,10996,-1.796930,-1.412018,-0.919741,-0.371477,-0.399304,1.451900,0,0,0,0,1,0,0,1,0,0,1,1,0
2197,10997,-0.920381,1.421518,-0.168714,-1.029279,-0.337971,0.572367,0,1,0,0,0,0,0,1,0,0,1,1,0
2198,10998,-0.920381,1.421518,0.290248,-1.029279,-0.215304,0.506922,0,0,0,1,0,0,0,1,0,1,0,1,0
2199,10999,-0.920381,-0.703634,0.290248,-1.029279,-0.644637,0.482457,0,1,0,0,0,0,0,1,0,0,1,1,0