In [2]:
# 시험 제공용
import pandas as pd
# a = pd.read_csv("../input/traval-insurance-exam/train.csv")
# b = pd.read_csv('../input/traval-insurance-exam/test.csv')

# pd.DataFrame(변수).to_csv('000000000.csv')

# 보험가입 확률을 묻는 문제


# 출력형태 
# index,y_pred
# 0,0.15246735144689827
# 1,0.9615112924356346
# 2,0.15131398160778645
# 3,0.23663288296712173
# 4,0.9385824940846587
# 5,0.15738583559845978

## 풀이
- 아래 풀이는 예시 일 뿐임

In [3]:
train = pd.read_csv('./data/3rd_TravelInsurancePrediction_train.csv')
test = pd.read_csv('./data/3rd_TravelInsurancePrediction_test.csv')

## EDA

In [4]:
# 크기 확인
train.shape, test.shape

((1501, 10), (486, 9))

In [5]:
# 타입 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1501 non-null   int64
 1   Age                  1501 non-null   int64
 2   Employment Type      1501 non-null   object
 3   GraduateOrNot        1501 non-null   object
 4   AnnualIncome         1501 non-null   int64
 5   FamilyMembers        1501 non-null   int64
 6   ChronicDiseases      1501 non-null   int64
 7   FrequentFlyer        1501 non-null   object
 8   EverTravelledAbroad  1501 non-null   object
 9   TravelInsurance      1501 non-null   int64
dtypes: int64(6), object(4)
memory usage: 117.4+ KB

In [6]:
# 결측치 확인
train.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [7]:
# 결측치 확인
test.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [8]:
train.describe()

,ID,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
count,1501.000000,1501.000000,1.501000e+03,1501.000000,1501.000000,1501.000000
mean,750.000000,29.683544,9.355430e+05,4.768155,0.282478,0.363757
std,433.445691,2.920809,3.752655e+05,1.626718,0.450355,0.481240
min,0.000000,25.000000,3.000000e+05,2.000000,0.000000,0.000000
25%,375.000000,28.000000,6.000000e+05,4.000000,0.000000,0.000000
50%,750.000000,29.000000,9.000000e+05,5.000000,0.000000,0.000000
75%,1125.000000,32.000000,1.250000e+06,6.000000,1.000000,1.000000
max,1500.000000,35.000000,1.800000e+06,9.000000,1.000000,1.000000

In [9]:
train['TravelInsurance'].value_counts()

0    955
1    546
Name: TravelInsurance, dtype: int64

## 데이터 전처리

In [15]:
# 수치형 데이터와 범주형 데이터 분리 
n_train = train.select_dtypes(exclude='object').copy()
c_train = train.select_dtypes(include='object').copy()
n_test = test.select_dtypes(exclude='object').copy()
c_test = test.select_dtypes(include='object').copy()

In [16]:
# 수치형 변수
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
cols = ['Age', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases']

display(n_train.head())
n_train[cols] = scaler.fit_transform(n_train[cols])
n_test[cols] = scaler.transform(n_test[cols])
n_train.head()

   ID  Age  AnnualIncome  FamilyMembers  ChronicDiseases  TravelInsurance
0   0   31        400000              6                1                0
1   1   31       1250000              7                0                0
2   2   34        500000              4                1                1
3   3   28        700000              3                1                0
4   4   28        700000              8                1                0

   ID   Age  AnnualIncome  FamilyMembers  ChronicDiseases  TravelInsurance
0   0  0.50     -0.769231            0.5              1.0                0
1   1  0.50      0.538462            1.0              0.0                0
2   2  1.25     -0.615385           -0.5              1.0                1
3   3 -0.25     -0.307692           -1.0              1.0                0
4   4 -0.25     -0.307692            1.5              1.0                0

In [17]:
# 범주형 변수
display(c_train.head())
c_train = pd.get_dummies(c_train)
c_test = pd.get_dummies(c_test)
c_train.head()

,Employment Type,GraduateOrNot,FrequentFlyer,EverTravelledAbroad
0,Government Sector,Yes,No,No
1,Private Sector/Self Employed,Yes,No,No
2,Private Sector/Self Employed,Yes,No,No
3,Private Sector/Self Employed,Yes,No,No
4,Private Sector/Self Employed,Yes,Yes,No

,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,1,0,0,1,1,0,1,0
1,0,1,0,1,1,0,1,0
2,0,1,0,1,1,0,1,0
3,0,1,0,1,1,0,1,0
4,0,1,0,1,0,1,1,0

In [18]:
# 분리한 데이터 다시 합침
train = pd.concat([n_train, c_train], axis=1)
test = pd.concat([n_test, c_test], axis=1)
print(train.shape, test.shape)
train.head()

(1501, 14) (486, 13)

,ID,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance,Employment Type_Government Sector,Employment Type_Private Sector/Self Employed,GraduateOrNot_No,GraduateOrNot_Yes,FrequentFlyer_No,FrequentFlyer_Yes,EverTravelledAbroad_No,EverTravelledAbroad_Yes
0,0,0.50,-0.769231,0.5,1.0,0,1,0,0,1,1,0,1,0
1,1,0.50,0.538462,1.0,0.0,0,0,1,0,1,1,0,1,0
2,2,1.25,-0.615385,-0.5,1.0,1,0,1,0,1,1,0,1,0
3,3,-0.25,-0.307692,-1.0,1.0,0,0,1,0,1,1,0,1,0
4,4,-0.25,-0.307692,1.5,1.0,0,0,1,0,1,0,1,1,0

## 검증 데이터 분리

In [19]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train.drop('TravelInsurance', axis=1), 
                                            train['TravelInsurance'],
                                            test_size=0.1,
                                            random_state=1204)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((1350, 13), (151, 13), (1350,), (151,))

## 모델

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=400, max_depth=9, random_state=1204)
rf.fit(X_tr, y_tr)
pred = rf.predict_proba(X_val)[:,1]

## 검증 평가

In [21]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_val, pred)

0.7798778159602903

## test 데이터 예측

In [22]:
pred = rf.predict_proba(test)[:,1]

In [23]:
pd.DataFrame({'index':test.index,'y_pred':pred})

     index    y_pred
0        0  0.187254
1        1  0.233128
2        2  0.237684
3        3  0.174952
4        4  0.248444
..     ...       ...
481    481  0.924179
482    482  0.696152
483    483  0.203095
484    484  0.586178
485    485  0.240184

[486 rows x 2 columns]

In [17]:
# csv 파일 생성 (예시와 다른 형태)
pd.DataFrame({'index':test.index,'y_pred':pred}).to_csv('0000.csv', index=False)

In [18]:
# 또는
pd.DataFrame({'y_pred':pred}).reset_index().to_csv('1111.csv', index=False)

## 평가(체점)

In [21]:
y_test = pd.read_json("../input/traval-insurance-exam/y_test.json")
roc_auc_score(y_test, pred)

0.5025364274150026